@using Microsoft.AspNetCore.Http
@using BlogEngine.Helpers;
@using BlogEngine.Transverse.Constants;
@using BlogEngine.Transverse.Enumerator;
@model LoggedInUserViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlogEngine</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-5.13.0-web/css/all.css" />
    <link rel="stylesheet" href="~/lib/toastr/toastr.css" />
</head>
<body ng-app="app" ng-controller="layoutCtrl">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" ng-click="ChangeContentUrl('Home')">Blog Engine</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @{

                            <li class="nav-item">
                                <a class="nav-link" ng-click="ChangeContentUrl('Home')">Home</a>
                            </li>

                            var userSesion = Context.Session.Get<LoggedInUserViewModel>(BasicConst.LOGGED_IN_USER_KEY);
                            if (userSesion != null && userSesion.RolCode == BasicEnums.RolTypes.Writer.GetHashCode().ToString())
                            {
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="ChangeContentUrl('Post')">Post</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="ChangeContentUrl('PendingPosts')">Pendig Post</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="ChangeContentUrl('RejectedPosts')">Rejected Post</a>
                                </li>
                            }
                            if (userSesion != null && userSesion.RolCode == BasicEnums.RolTypes.Editor.GetHashCode().ToString())
                            {
                                <li class="nav-item">
                                    <a class="nav-link" ng-click="ChangeContentUrl('ApprovalPosts')">Check Post</a>
                                </li>
                            }
                        }
                    </ul>
                </div>

                @{
                    if (userSesion == null)
                    {
                        <a class="btn btn-outline-info" ng-click="ChangeContentUrl('Authenticate')">Login</a>
                    }
                    else
                    {
                        <ul class="user-info text-center">
                            <li>
                                <b>@(Context.Session.Get<LoggedInUserViewModel>(BasicConst.LOGGED_IN_USER_KEY).FullName)</b>
                            </li>
                            <li class="user-info-rol">
                                @(Context.Session.Get<LoggedInUserViewModel>(BasicConst.LOGGED_IN_USER_KEY).RolName)
                            </li>
                        </ul>
                        <div class="logout">
                            <a ng-click="Logout()"><i class="fas fa-sign-out-alt fa-2x"></i></a>
                        </div>
                    }
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <div ng-include="contentUrl"></div>
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BlogEngine - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!--TODO Bundle -->
    <script src="~/lib/angularjs/angular.js"></script>
    <script src="~/lib/angularjs/angular-route.js"></script>
    <script src="~/lib/angularjs/angular-sanitize.js"></script>
    <script src="~/app/app.js"></script>
    <script src="~/app/services/baseFactory.js"></script>
    @*<script src="~/app/services/baseService.js"></script>*@
    @RenderSection("Scripts", required: false)
    <!--TODO Bundle -->
    <script src="~/app/controllers/layout/ctrl.js"></script>
    <script src="~/app/controllers/home/ctrl.js"></script>
    <script src="~/app/controllers/authenticate/ctrl.js"></script>
    <script src="~/app/controllers/post/ctrl.js"></script>
    <script src="~/app/controllers/pendingposts/ctrl.js"></script>
    <script src="~/app/controllers/approvalposts/ctrl.js"></script>
    <script src="~/app/controllers/rejectedposts/ctrl.js"></script>
</body>
</html>
